body {
    margin: 0;
    font-family: 'Arial Rounded MT Bold';
    position: relative;
    color: red;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body, body>div, #app {
    color:black;
    /*box-sizing: border-box;*/
    height:100%;
    width:100%;
}

fieldset#app {
    /*box-sizing: border-box;*/
    height:100%;
    width:100%;
}

#root {
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
}
.mainPanel {
    width:100%;
    padding-top:20px;
}